body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #ddc4a9d6;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #964545;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input, select {
    padding: 10px;
    border: 1px solid #a14c4c;
    border-radius: 3px;
    margin-right: 5px;
}

button {
    background-color: #25a32a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}

/* Responsive styling for smaller screens */
@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}
